apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: main-app
  template:
    metadata:
      labels:
        app: main-app
    spec:
      containers:
        - name: main-app
          image: "{{ if .Values.image.ref }}{{ .Values.image.ref }}{{ else }}{{ .Values.image.repository }}:{{ .Values.image.tag }}{{ end }}"
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: main-app-secrets