name: Deploy to Staging

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: staging

    env:
      ENV: staging
      NAMESPACE: staging

    steps:
      - uses: actions/checkout@v4

      - name: Terraform Plan (Dry Run)
        run: |
          cd terraform
          terraform init -backend=false
          terraform plan || true
