name: Deploy to Staging

on:
  workflow_run:
    workflows: ["CI - Quality Gates"]
    types: [completed]

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    runs-on: ubuntu-latest

    environment:
      name: staging

    env:
      ENV: staging
      NAMESPACE: staging

    steps:
      - uses: actions/checkout@v4

      - name: Terraform Plan (Dry Run)
        run: |
          cd terraform
          terraform init -backend=false
          terraform plan || true
